{% extends 'voter_analytics/base.html' %} {% block content %}
<div class="container">
  <h1>Showing Result for {{v.first_name}} {{v.last_name}}</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Street Address</th>
      <th>Date of Birth</th>
      <th>Party Affiliation</th>
      <th>Voter Score</th>
      <th>v20state</th>
      <th>v21town</th>
      <th>v21primary</th>
      <th>v22general</th>
      <th>v23town</th>
  </tr>

  <tr>
      <td>{{v.first_name}} {{v.last_name}}</a>
      </td>
      <td><a href="https://www.google.com/maps/search/?api=1&query={{v.ra_street_number}}+{{v.ra_street_name}}+{{v.ra_apartment_number}}">{{v.ra_street_number}}, {{v.ra_street_name}}, {{v.ra_apartment_number}}, {{v.ra_zip_code}}</a></td>
      <td>{{v.date_of_birth}}</td>
      <td>{{v.party_affiliation}}</td>
      <td>{{v.voter_score}}</td>
      <td>{{v.v20state}}</td>
      <td>{{v.v21town}}</td>
      <td>{{v.v21primary}}</td>
      <td>{{v.v22general}}</td>
      <td>{{v.v23town}}</td>
  </tr>
  </table>
</div>
{% endblock %}
