[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==4.2.16"
gunicorn = "==23.0.0"
packaging = "==24.1"
pillow = "==10.4.0"
pytz = "==2024.2"
sqlparse = "==0.5.1"
tenacity = "==9.0.0"
typing-extensions = "==4.12.2"
plotly = "==5.24.1"

[dev-packages]

[requires]
python_version = "3.8"
