{% load static %}
<html>
  <head>
    <title>ProFive</title>
    <link rel="stylesheet" href="{% static 'styles-nba.css' %}" />
  </head>
  <body>
    <header>
      <h1>ProFive</h1>
      <nav>
        <ul class="nav-container">
          <li>
            <a class="nav-link" href="{% url 'players_list' %}">Players</a>
          </li>
          {% if request.user.is_authenticated %}
          <li>
            <a class="nav-link" href="{% url 'public_dream_team_list' %}"
              >Public Dream Team</a
            >
          </li>
          <li>
            <a class="nav-link" href="{% url 'dream_team_list' %}"
              >My Dream Team</a
            >
          </li>
          <li>
            <a class="nav-link" href="{% url 'ranking_list' %}">My Rankings</a>
          </li>
          <!-- LOGOUT MUST BE POST SO WE USE FORM TO CALL THE URL -->
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="logout" />
          </form>
          {% else %}
          <li><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
          {% endif %}
          <li>
            <!-- prettier-ignore -->
            {% if request.user.is_authenticated %} {{request.user}} {% else %} Not logged in {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
