{% extends 'nba/base.html' %} {% block content %}
<h2 class="all-my-team-title">All My Dream Team</h2>
<div class="style-container">
  <div>
    <div class="my-team-container">
      {% for team in dream_teams %}
      <a href="{% url 'dream_team_detail' team.pk %}">{{team.name}}</a>
      {% endfor %}
    </div>
    <div class="create-link">
      <a href="{% url 'create_dream_team' %}">Create New Dream Team</a>
    </div>
  </div>

  <img class="player-img" src="../../../static/player.png" />
</div>
{% endblock %}
