{% extends 'nba/base.html' %} {% block content %}
<table class="player-table">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Country</th>
    <th>School</th>
    <th>Position</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Draft Year</th>
  </tr>

  <tr>
    <td><img src="../../../static/{{player.player_id}}.png" /></td>
    <td>{{player.first_name}} {{player.last_name}}</td>
    <td>{{player.birthday}}</td>
    <td>{{player.country}}</td>
    <td>{{player.school}}</td>
    <td>{{player.position}}</td>
    <td>{{player.height}}</td>
    <td>{{player.weight}}</td>
    <td>{{player.draft_year}}</td>
  </tr>
</table>

<div class="review-container">
  <h2>Review</h2>
  {% for r in reviews %}
  <p>{{r.content}}</p>
  <p>Review by: {{r.user.username}}:</p>
  {% endfor %}
</div>
{% if user.is_authenticated %}
<div class="create-link">
  <a href="{% url 'create_player_review' player.pk %}">Write Review</a>
</div>
{% else %}
<div class="create-link">
  <a href="{% url 'login' %}">Log in to Write Review</a>
</div>
{% endif %} {% endblock %}
