{% extends 'nba/base.html' %} {% block content %}
<h2 class="ranking-title">My Rankings</h2>

{% if rankings %}
<table class="ranking-table">
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Actions</th>
  </tr>
  {% for r in rankings %}
  <tr>
    <td>{{r.position}}</td>
    <td>{{r.rank}}</td>
    <td>{{r.player}}</td>
  </tr>
  {% endfor %}
</table>
<div class="create-link">
  <a href="{% url 'create_ranking' %}">Add New Ranking</a>
</div>
{% else %}
<div class="create-link">
  <p>No rankings created yet</p>
</div>

<div class="create-link">
  <a href="{% url 'create_ranking' %}">Add New Ranking</a>
</div>
{% endif %} {% endblock %}
