{% load static %}
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'styles-blog.css' %}" />
  </head>
  <body>
    <header>
      <h1>Blog</h1>
      <nav>
        <ul>
          <li><a href="{% url 'show_all' %}">Show All</a></li>
          <li><a href="{% url 'random' %}">Random</a></li>
          <!-- <li><a href="{% url 'create_article' %}">Create Article</a></li> -->
          <!-- URLs that depend on authentication status -->
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'create_article' %}">Create Article</a></li>
          <!-- LOGOUT MUST BE POST SO WE USE FORM TO CALL THE URL -->
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="logout" />
          </form>
          <!-- <li><a href="{% url 'logout' %}">Log out</a></li> -->
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>

        <p>
          {% if request.user.is_authenticated %} Logged in user: {{ request.user
          }}. {% else %} Not logged in. {% endif %}
        </p>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
