{% extends 'blog/base.html' %} {% block content %}
<!-- This basic authentication form works.
- need to set "next" to redirect to correct page.
-->
<h1>Login</h1>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} {{ form }}
  <input type="hidden" name="next" value="{% url 'show_all' %}" />
  <input type="submit" value="Login" />
</form>

<hr />
Don't have an account? <a href="{% url 'register' %}">Register here</a>
{% endblock %}

<h1>Login</h1>
<form method="post" action="{% url 'login %}">
  {% csrf_token %} {{form}}
  <input type="hidden" name="next" value="{% url 'show_all' %}" />
</form>
