{% extends 'blog/base.html' %}
<h1>Showing all Articles</h1>
<!-- scriptlet code to display the value of the variable `articles` 
{{ articles }}
-->
{% block content %}
<main class="grid-container">
  {% for a in articles %}
  <article>
    {% if a.image_file.url%}
    <a href="{% url 'article' a.pk %}">
      {% if a.image_file.url %}
      <img src="{{a.image_file.url}}" alt="{{a.image_file.url}}" />
      {% else %} No Image Available {% endif %}
    </a>
    {% endif %}

    <div>
      <a href="{% url 'article' a.pk %}"> <h2>{{a.title}}</h2> </a>

      <strong>by {{a.author}} at {{a.published}}</strong>
      <p>{{a.text}}</p>
    </div>
  </article>
  {% endfor %}
</main>
{% endblock %}
