{% load static %}
<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}" />
  </head>
  <body>
    <header>
      <h1>Mini FB</h1>
      <nav>
        <ul>
          <li>
            <a class="nav-link" href="{% url 'show_all_profiles' %}"
              >All Profiles</a
            >
          </li>

          {% if request.user.is_authenticated %}
          <li>
            <a class="nav-link" href="{% url 'create_profile' %}"
              >Create Profile</a
            >
          </li>
          <!-- LOGOUT MUST BE POST SO WE USE FORM TO CALL THE URL -->
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="logout" />
          </form>
          <!-- <li><a href="{% url 'logout' %}">Log out</a></li> -->
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
          <p>
            <!-- prettier-ignore -->
            {% if request.user.is_authenticated %} 
            Logged in user: {{ request.user }}. 
            {% else %} 
            Not logged in 
            {% endif %}
          </p>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <p>Author: Zai Sugino</p>
    </footer>
  </body>
</html>
