{% load static %}
<html>
  <head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}" />
  </head>
  <body>
    <header>
      <h1>Mini FB</h1>
      <nav>
        <ul>
          <li>
            <a class="nav-link" href="{% url 'show_all_profiles' %}"
              >All Profiles</a
            >
          </li>
          <li>
            <a class="nav-link" href="{% url 'create_profile' %}"
              >Create Profile</a
            >
          </li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <p>Author: Zai Sugino</p>
    </footer>
  </body>
</html>
