{% extends 'mini_fb/base.html' %} {% block content %}
<h2 class="form-title">Add a profile</h2>
<form method="POST">
  <!-- talk about CSRF -->
  {% csrf_token %}
  <!-- customized table version here -->
  {% csrf_token %}

  <div class="add-profile-form-container">
    {% for field in form %}
    <div class="field-container">
      <div>{{field.name}}</div>
      <div class="field">{{field}}</div>
    </div>
    {% endfor %}
    <div>
      <input type="submit" name="Add Profile!" value="Add Profile!" />
    </div>
  </div>

  <!-- 
  <table class="add-profile-form-container">
    {% for field in form %}
    <tr>
      <th>{{field.name}}</th>
      <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="Add Profile!" value="Add Profile!" />
      </td>
    </tr>
  </table> -->
</form>
{% endblock %}
