{% extends 'mini_fb/base.html' %} {% block content %}
<h2>Add a message</h2>
<form method="POST">
  <!-- talk about CSRF -->
  {% csrf_token %}
  <!-- customized table version here -->
  {% csrf_token %}
  <div class="table-container">
    <table>
      {% for field in form %}
      <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>
          <input type="submit" name="Add Message!" value="Add Message!" />
        </td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}
