{% extends 'mini_fb/base.html' %} {% block content %}
<div class="single-profile-container">
  <h2 class="name">{{profile.first_name}} {{profile.last_name}}</h2>
  <div class="about">City: {{profile.city}}</div>
  <div class="about">Email: {{profile.email}}</div>
  {% if profile.image_url %}
  <div class="single-profile-img-container">
    <img
      class="single-profile-img"
      src="{{profile.image_url}}"
      alt="{{profile.image_url}}"
    />
  </div>
  {% endif %}

  <h3>
    <a href="{% url 'create_status' profile.pk %}">Create a status message</a>
  </h3>
  <div>
    {% for m in profile.get_status_messages %}
    <div class="status-message-container">
      <strong>{{m.timestamp}}</strong>
      <p>{{m.message}}</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
