{% extends 'mini_fb/base.html' %} {% block content %}
<div class="single-profile-container">
  <h2 class="name">{{profile.first_name}} {{profile.last_name}}</h2>
  <div class="about">City: {{profile.city}}</div>
  <div class="about">Email: {{profile.email}}</div>
  {% if profile.image_url %}
  <div class="single-profile-img-container">
    <img
      class="single-profile-img"
      src="{{profile.image_url}}"
      alt="{{profile.image_url}}"
    />
  </div>
  {% endif %}

  <h3>
    <a href="{% url 'create_status' profile.pk %}">Create a status message</a>
    <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
  </h3>
  <div>
    {% for status in profile.get_status_messages %}
    <div class="status-message-container">
      <strong>{{status.timestamp}}</strong>
      <p>{{status.message}}</p>
      {% for img in status.get_images %}
      <div class="status-img-container">
        <img
          class="status-img"
          src="{{img.image_file.url}}"
          alt="{{img.image_file.url}}"
        />
      </div>
      {% endfor %}
      <a href="{% url 'delete_status' status.pk %}">delete</a>
      <a href="{% url 'update_status' status.pk %}">update</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
