{% extends 'mini_fb/base.html' %} {% block content %}
<h2 class="form-title">Update a profile</h2>
<form method="POST">
  <!-- talk about CSRF -->
  {% csrf_token %}
  <!-- customized table version here -->
  {% csrf_token %}

  <div class="add-profile-form-container">
    {% for field in form %}
    <div class="field-container">
      <div>{{field.name}}</div>
      <div class="field">{{field}}</div>
    </div>
    {% endfor %}
    <div>
      <input type="submit" name="Update Profile!" value="Update Profile!" />
    </div>
  </div>
</form>

<form method="GET" action="{% url 'show_profile' profile.pk %}">
  {% csrf_token %}
  <input type="submit" name="Cancel" value="Cancel" />
</form>

{% endblock %}
