* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

.profile-img {
  width: 200px;
}

.single-profile-img {
  width: 500px;
}

header {
  background-color: black;
  padding: 1.6rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  list-style-type: none;
}

.nav-link {
  color: white;
}

footer {
  color: white;
  padding: 1.2rem;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 8px solid black;
  padding: 2.4rem;
  margin: 1.2rem;
  gap: 1.2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 1.2rem;
  line-height: 2.2rem;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  margin-top: 1.2rem;
  text-align: center;
}

.single-profile-container {
  padding: 1.8rem;
}

.single-profile-img-container {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.name {
  font-size: 2.4rem;
  text-align: center;
}

.about {
  text-align: center;
}

h3 {
  margin-top: 0.8rem;
  text-align: center;
}

h2 {
  margin-top: 1.6rem;
  text-align: center;
}

.status-message-container {
  margin-top: 1.4rem;
  text-align: center;
}

.table-container {
  width: 410px;
  margin: 0 auto;
  margin-bottom: 26rem;
}

.status-img-container {
}

.status-img {
  width: 200px;
}

.news-img {
  width: 100px;
  border-radius: 50%;
}

.friends-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
}

.friends-suggestions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
