{% extends 'quotes/base.html' %} {% block content %}
<div class="about-container">
  <p>
    Mike Tyson is a former American professional boxer who is widely regarded as
    one of the greatest heavyweight fighters of all time. Known for his
    aggressive style, incredible punching power, and quick knockouts, Tyson
    became the youngest heavyweight champion in history at age 20. He held the
    undisputed world heavyweight title and was famous for his intimidating
    presence in the ring. Despite a career marked by personal and legal
    challenges, Tyson remains an iconic figure in the sport of boxing.
  </p>
  <span class="note"
    >Note: Website Created by Zai Sugino: Current Senior at Boston Univeristy
  </span>
</div>

{% endblock %}
